{{=<< >>=}}
% \iffalse meta-comment
%
% Copyright (C) 2015 by Jeffrey B. Arnold <jeffrey.arnold@gmail.com>
% ---------------------------------------------------------------------------
% This work may be distributed and/or modified under the
% conditions of the LaTeX Project Public License, either version 1.3
% of this license or (at your option) any later version.
% The latest version of this license is in
%   http://www.latex-project.org/lppl.txt
% and version 1.3 or later is part of all distributions of LaTeX
% version 2005/12/01 or later.
%
% This work has the LPPL maintenance status `maintained'.
%
% The Current Maintainer of this work is Jeffrey B. Arnold.
%
% This work consists of the files lstbayes.dtx and lstbayes.ins
% and the derived filebase lstbayes.sty.
%
% \fi
%
% \iffalse
%<*driver>
\ProvidesFile{lstbayes.dtx}
%</driver>
%<package>\NeedsTeXFormat{LaTeX2e}[1999/12/01]
%<package>\ProvidesPackage{lstbayes}
%<*package>
    [2015/09/27 lstbayes listings language drivers for BUGS, JAGS, and Stan]
%</package>
%
%<*driver>
\documentclass{ltxdoc}
\usepackage{lstbayes}
\usepackage{hyperref}
\EnableCrossrefs
\CodelineIndex
\RecordChanges
\begin{document}
  \DocInput{lstbayes.dtx}
  \PrintChanges
  \PrintIndex
\end{document}
%</driver>
% \fi
%
% \CheckSum{12}
%
% \CharacterTable
%  {Upper-case    \A\B\C\D\E\F\G\H\I\J\K\L\M\N\O\P\Q\R\S\T\U\V\W\X\Y\Z
%   Lower-case    \a\b\c\d\e\f\g\h\i\j\k\l\m\n\o\p\q\r\s\t\u\v\w\x\y\z
%   Digits        \0\1\2\3\4\5\6\7\8\9
%   Exclamation   \!     Double quote  \"     Hash (number) \#
%   Dollar        \$     Percent       \%     Ampersand     \&
%   Acute accent  \'     Left paren    \(     Right paren   \)
%   Asterisk      \*     Plus          \+     Comma         \,
%   Minus         \-     Point         \.     Solidus       \/
%   Colon         \:     Semicolon     \;     Less than     \<
%   Equals        \=     Greater than  \>     Question mark \?
%   Commercial at \@     Left bracket  \[     Backslash     \\
%   Right bracket \]     Circumflex    \^     Underscore    \_
%   Grave accent  \`     Left brace    \{     Vertical bar  \|
%   Right brace   \}     Tilde         \~}
%
%
% \changes{2015-09-26}{2015/09/26}{Converted to DTX file}
% \changes{2015-09-27}{2015/09/27}{Fix README}
%
% \DoNotIndex{\newcommand,\newenvironment}
%
% \providecommand*{\url}{\texttt}
% \GetFileInfo{lstbayes.dtx}
% \title{The \textsf{lstbayes} package}
% \author{Jeffrey B. Arnold \\ \url{jeffrey.arnold@gmail.com}}
% \date{\fileversion~from \filedate}
%
% \maketitle
%
% \section{Introduction}
%
% This package provides language drivers for the \href{https://www.ctan.org/tex-archive/macros/latex/contrib/listings/}{\textsf{listings}} package for the several Bayesian modeling languages: BUGS, JAGS, and Stan.
%
% \section{Usage}
%
% % See the documentation of the \textsf{listings} package.
%

%
% \StopEventually{}
%
% \section{Implementation}
%
% \iffalse
%<*package>
% \fi
%
%    \begin{macrocode}
\RequirePackage{listings}
%    \end{macrocode}
% 
% \subsection{BUGS}
%
% Language driver for BUGS, including \href{http://www.openbugs.net/w/FrontPage}{WinBUGS} and \href{http://openbugs.net}{OpenBUGS}.
% The driver is based on \href{http://www.openbugs.net/Manuals/Manual.html}{OpenBUGS v. 3.2.3}.
% 
%    \begin{macrocode}
\lstdefinelanguage{BUGS}{
  morekeywords=[1]{for,in,model,T,I,C},%
  morecomment=[l]{\#},%
  sensitive=true,%
  alsoletter={.},%
  otherkeywords={<-,~},%
  literate={<-}{{$\leftarrow$}}1 {~}{{$\sim$}}1%
}
\lstalias[]{OpenBUGS}[]{BUGS}
\lstalias[]{WinBUGS}[]{BUGS}
%    \end{macrocode}
%
% \subsection{JAGS} 
%
% Language driver for \href{http://mcmc-jags.sourceforge.net/}{JAGS}.
% The driver is based on JAGS version 3.4.0 (Sept 4, 2013).
%
%
%    \begin{macrocode}
\lstdefinelanguage[]{JAGS}[]{BUGS}{
  morekeywords=[1]{data,var,const},%
  morecomment=[n]{/*}{*/}%
}
%    \end{macrocode}
% 
% \subsection{Stan}
%
% Language driver for \href{http://mc-stan.org/}{Stan}.
% The driver is based on Stan modeling language version \href{https://github.com/stan-dev/stan/releases/download/v2.8.0/stan-reference-2.8.0.pdf}{2.8.0} (Sept 8, 2015).
% 
%    \begin{macrocode}
\lstdefinelanguage{Stan}{
  morekeywords=[1]{functions,data,parameters,transformed,model,generated,quantities,%
    for,in,while,print,if,else,lp__,lower,upper,increment_log_prob,T,return,%
    reject,integrate_ode},%
  morekeywords=[2]{int,real,vector,%
    ordered,positive_ordered,simplex,unit_vector,%
    row_vector,matrix,%
    cholesky_factor_corr,cholesky_factor_cov,%
    coor_matrix,cov_matrix,%
    void},%
  morekeywords=[3]{%
    <<#keywords3>>
    <<#.>>
    <<.>>%
    <</.>>
    <</keywords3>>
  },%
  otherkeywords={<-,~},%
  sensitive=true,%
  morecomment=[l]{\#},%
  morecomment=[l]{//},%
  morecomment=[n]{/*}{*/},%
  string=[d]"%,
  literate={<-}{{$\leftarrow$}}1 {~}{{$\sim$}}1%
}
%    \end{macrocode}

%
% \iffalse
%</package>
% \fi
%
% \Finale
\endinput

%  LocalWords:  lstbayes dtx morecomment alsoletter otherkeywords lp
%  LocalWords:  OpenBUGS WinBUGS morekeywords const cholesky cov coor
